.container{
    box-sizing:border-box;
    width:90%;
    min-height: 400px;
    border: 2px solid black;
    padding: 0.5rem 1rem 1rem 1rem;
    box-shadow: 6px 6px black;
    background: white;
    display:flex;
    flex-direction: column;
}

.dashboard{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 10px;
    
}

.title{
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-size:25px;
    font-weight: bold;
    width:100%;
    text-align: center;
    margin: 0px 0px 10px 0px;
    padding:0px;
}

.DBBtn{
 transition: all ease-in-out 0.2s; 
 display:flex;
 justify-content: center;
 align-items: center;
 margin-left: 1rem;
 width:30px;
}

.DBBtn:hover{
 border: solid black 1px;
 box-shadow: 2px 2px black;
 border-radius: 30px;

}

.notiBtn{
    border: 1px transparent solid;
    transition: all 0.2s ease-in-out;
    
    
}

.notiBtn:hover{
    border: 1px black ;
    border-style: inset;
    box-shadow: 3px 2px black;
    border-radius:30px;
}