.authCard{

        background-color:aliceblue;
        box-sizing: border-box;
        width:500px;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding:1rem;
        border-radius:20px;
    
    
}
.authTitle{
    font-size: 1.5rem;
    font-weight:bold;
}
.authForm{
    display:flex;
    flex-direction:column;
}