.card{
    display:flex;
    box-sizing: border-box;
    background-color:white;
    border:2px solid black;
    width:100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
}   

.card:hover{
    box-shadow:4px 4px black;
    
}
.cardButtons{
    display:flex;

    flex-wrap:wrap;
    justify-content: center;
}
.cardButtons button{
    font-weight:bold;
    margin: 2px;
    border-radius:50px;
    padding:2px;
   
}

textarea{
    resize:none;
    
}

